doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    link(rel='stylesheet' href="css/main.css")
    link(rel='stylesheet' href="css/octicons/octicons.css")
    title= locals.title
  body
    header.text-center
      h1= page.title
    .container
      != page.html
